<div class="container">
    <div class="text-container">
        <h1>Relax up</h1>
        <p>Nuestro principal objetivo es brindar herramientas efectivas de relajación y control emocional para personas que luchan con tendencias violentas. Nos especializamos en la creación de aplicaciones móviles y plataformas web que ofrecen ejercicios de relajación guiados, técnicas de respiración, meditación y mindfulness diseñadas específicamente para ayudar a estas personas a encontrar la calma interior y mejorar su calidad de vida.
        </p>
    </div>
    <div class="image-container">
        <img src="assets/icon.png" alt="Imagen del proyecto">
    </div>
</div>