<div class="container">
    <div style="text-align: center; margin: 5%"><h1>Lista de usuarios que presionaron el botón de emergencia</h1></div>
    <div>
      <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
        <ng-container matColumnDef="cttt1">
          <th mat-header-cell *matHeaderCellDef>Código.</th>
          <td mat-cell *matCellDef="let element">{{ element.idEmergencia }}</td>
        </ng-container>
  
        <ng-container matColumnDef="cttt2">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element">{{ element.fechaEmergencia}}</td>
          </ng-container>

        <ng-container matColumnDef="cttt3">
            <th mat-header-cell *matHeaderCellDef>Hora</th>
            <td mat-cell *matCellDef="let element">{{ element.horaEmergencia }}</td>
          </ng-container>
  
        <ng-container matColumnDef="cttt4">
          <th mat-header-cell *matHeaderCellDef>Nombre de usuario</th>
          <td mat-cell *matCellDef="let element">{{ element.usuario.nombreUsuario }}</td>
        </ng-container>

        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element" (click)="delete(element.idEmergencia)">
            <mat-icon style="color:#f4310a ;">delete</mat-icon>
          </td> 
        </ng-container>

        <ng-container matColumnDef="accion02">
          <th mat-header-cell *matHeaderCellDef>Actualizar</th>
          <td mat-cell *matCellDef="let element" [routerLink]="['ediciones',element.idEmergencia]" >
            <mat-icon style="color:#f4310a ;">edit</mat-icon>
          </td> 
        </ng-container>
         
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[4, 7, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
