<div class="container">
    <div style="text-align: center; margin: 5%;">
      <h1>Lista de Rutinas</h1>
    </div>
    <div>
      <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
        
  
        <ng-container matColumnDef="c1">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.idRutina}} </td>
        </ng-container>
  
        <ng-container matColumnDef="c2">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreRutina}} </td>
        </ng-container>
  
        <ng-container matColumnDef="c3">
          <th mat-header-cell *matHeaderCellDef> Descripcion</th>
          <td mat-cell *matCellDef="let element"> {{element.descripcionRutina}} </td>
        </ng-container>
  
        <ng-container matColumnDef="c4">
          <th mat-header-cell *matHeaderCellDef> Duracion </th>
          <td mat-cell *matCellDef="let element"> {{element.duracionRutina}} </td>
        </ng-container>
  
        <ng-container matColumnDef="c5">
          <th mat-header-cell *matHeaderCellDef> Nro. de Tecnica </th>
          <td mat-cell *matCellDef="let element"> {{element.tecnicasRelajacion?.idTecnicaRelajacion}} </td>
        </ng-container>
  
        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon style="color: red" (click)="delete(element.idRutina)">delete</mat-icon>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="accion02">
          <th mat-header-cell *matHeaderCellDef> Actualizar </th>
          <td mat-cell *matCellDef="let element" [routerLink]="['ediciones', element.idRutina]">
            <mat-icon style="color: red">edit</mat-icon>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[4, 7, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
