<div class="title-container">
  <div class="container" style="text-align: center; margin: 5%">
    <h1>Registro de Tecnicas</h1>
  </div>
  <div class="container" style="text-align: center">
    <form [formGroup]="form" (submit)="insertar()">
      
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="tid" readonly="true" />
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <mat-select formControlName="tnombre">
          @for (food of listaNombres; track food) {
          <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br />
      <div style="text-align: center">
        <button mat-flat-button color="warn">Registrar</button>
      </div>
    </form>
  </div>
</div>
