<div class="title-container">
    <div class="container" style="text-align: center;margin:5%"><h1>Registro de roles</h1></div>
    <div class="container" style="text-align: center">
      <form [formGroup]="form" (submit)="insertar()" >
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Id</mat-label>
          <input matInput placeholder="id" formControlName="IdRol" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>nombre del rol</mat-label>
          <input matInput placeholder="nombre" formControlName="NombreRol"/>
          <mat-error *ngIf="form.get('NombreRol')?.hasError('required')">
            El objetivo de servicio es requerido.
        </mat-error>
        <mat-error *ngIf="form.get('NombreRol')?.hasError('minlength')">
          El nombre del rol debe tener al menos 8 caracteres.
        </mat-error>
        </mat-form-field>
        <div style="text-align: center;">
          <button mat-flat-button  color="warn">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  