<div class="title-container">
    <div class="container" style="text-align: center; margin: 2%">
      <h1>Registro de eventos</h1>
    </div>
    <div class="container" style="text-align: center">
  
      <form [formGroup]="form" (submit)="insertar()">
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Id</mat-label>
          <input matInput formControlName="IdEventos" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
            <mat-label>Titulo</mat-label>
            <input matInput formControlName="Titulo" />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <mat-label>Actividad</mat-label>
            <input matInput formControlName="Actividad" />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="FechaInicio" formControlName="FechaInicio" value="2024-11-17" min="2024-11-18" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <br />

          <mat-form-field class="example-full-width">
            <mat-label>Fecha Fin</mat-label>
            <input matInput [matDatepicker]="picker1" placeholder="FechaFin" formControlName="FechaFin" min="2024-11-18" >
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <br />
  
        <mat-form-field class="example-full-width">
          <mat-label>Hora</mat-label>
          <input matInput placeholder="HH:MM:SS" formControlName="Hora" />
        </mat-form-field>
        
        <br />
        <mat-checkbox class="example-full-width" formControlName="Confirmacion" >
          Confirma</mat-checkbox>
        <br />
  
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="IdUsuario">
            @for (ci of listaUsuario; track ci) {
            <mat-option [value]="ci.idUsuario">{{ ci.nombreUsuario }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div style="text-align: center">
          <button mat-flat-button color="warn">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  